<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
  <title>wordCloud</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body style="background-image: url('/img.jpg');">
  <div style="background-color: transparent; margin: 5%;">
    <div class="container">
      <% va.forEach((a) => { %>
        <% if (a.image.includes("https")) { %>
          <div class="card" style="background-image: url('<%= a.image %>');">
            <a href="<%= a.url %>" class="card-link">
              <div class="card-text">
                <h4><%= a.name %></h4>
                <p><%= a.description %></p>
              </div>
            </a>
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
</body>
</html>
