<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Word Cloud</title>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
  <!-- Bootstrap JS and Popper.js links -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
 <div style="display: flex; justify-content: center;align-items: center; padding-top:2rem ;">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio-1" autocomplete="off" >
    <label class="btn btn-outline-primary" for="btnradio-1">mon</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio-2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio-2">tue</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio-3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio-3">wed </label>
      
    <input type="radio" class="btn-check" name="btnradio" id="btnradio-4" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio-4">thu  </label>
      
    <input type="radio" class="btn-check" name="btnradio" id="btnradio-5" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio-5">fri </label>
      
    <input type="radio" class="btn-check" name="btnradio" id="btnradio-6" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio-6">sat </label>
      
    <input type="radio" class="btn-check" name="btnradio" id="btnradio-0" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio-0">sun </label>
    
  </div>
 </div>
  <!-- Centered container -->
  <div class="container d-flex align-items-center justify-content-center" style="height: 100vh; width: 100vw;">
    
    <div id="wordCloud" ></div>
  </div>

  <!-- Bootstrap Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="wordModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title"  id="wordModalLabel">Word Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <p id="modalWord" style="font-size: 2.5rem;font-style:italic;"></p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" onclick="submitRedirect()" class="btn btn-primary" >Articles</button>
          <button type="button" onclick="submitRedirectVideo()" class="btn btn-primary">Videos</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    var checkedRadio ;
const filt=document.querySelectorAll('.btn-check');



    const day=new Date().getDay()
    document.getElementById(`btnradio-${day}`).checked =true;
    checkedRadio=day
    // Encapsulate the word cloud functionality
    function wordCloud(selector) {
      var fill = d3.scale.category20();

      // Construct the word cloud's SVG element
      var svg = d3.select(selector).append("svg")
          .attr("width", 500)
          .attr("height", 500)
          .append("g")
          .attr("transform", "translate(250,250)");

      // Draw the word cloud
      function draw(words) {
          var cloud = svg.selectAll("g text")
                          .data(words, function(d) { return d.text; })

          // Entering words
          cloud.enter()
              .append("text")
              .style("font-family", "Impact")
              .style("fill", function(d, i) { return fill(i); })
              .attr("text-anchor", "middle")
              .attr('font-size', 1)
              .on("click", function(d) {
                  // Handle click event, open Bootstrap modal
                  $('#modalWord').text(d.text);
                  $('#wordModal').modal('show');
                  
              })
              .text(function(d) { return d.text; });

          // Entering and existing words
          cloud
              .transition()
                  .duration(500)
                  .style("font-size", function(d) { return d.size + "px"; })
                  .attr("transform", function(d) {
                      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                  })
                  .style("fill-opacity", 1);

          // Exiting words
          cloud.exit()
              .transition()
                  .duration(200)
                  .style('fill-opacity', 1e-6)
                  .attr('font-size', 1)
                  .remove();
      }

      // Use the module pattern to encapsulate the visualisation code
      return {
          // Recompute the word cloud for a new set of words
          update: function(words) {
              d3.layout.cloud().size([500, 500])
                  .words(words)
                  .padding(1)
                  .rotate(function() { return ~~(Math.random() * 2) * 90; })
                  .font("Impact")
                  .fontSize(function(d) { return d.size; })
                  .on("end", draw)
                  .start();
          }
      };
    }

    // Fetch words from the API
    function fetchWordCloudData(day) {
      return fetch(`/api/word-cloud?input=${day}`)
          .then(response => response.json())
          .catch(error => console.error('Error fetching word cloud data:', error));
    }

    var wrd;

    // Prepare one of the sample sentences
    function getWords(day) {
      return fetchWordCloudData(day)
          .then(data => {
              const words = data.words;
             
           if(typeof words=="string")
           {
            myWordCloud.innerText="No Data found"
        return[""]
           }else{

            return words.map(word => ({
                  text: word.word,
                  size: 10 + word.count * 8
              }));
           }
              
          });
    }

    // This method tells the word cloud to redraw with a new set of words
    async function showNewWords(vis,day) {
      if(!day)
      {
        day=new Date().getDay()

      }
      const words = await getWords(day);
      wrd = words;
      vis.update(words);
      setInterval(function() { updateshowNewWords(vis); }, 250000);
    }

    function updateshowNewWords(vis) {
      vis.update(wrd);
    }

    // Create a new instance of the word cloud visualisation


    function submitRedirect() {
      // Get the text from the modal
      const wordText = $('#modalWord').text();
      // Redirect to the specified page

      window.location.href = '/api/word-cloud/' + wordText+"/?t=Articles&day="+checkedRadio;
    }

    function submitRedirectVideo() {
      // Get the text from the modal
      const wordText = $('#modalWord').text();
      // Redirect to the specified page
      window.location.href = '/api/word-cloud/' + wordText+"/?t=Videos&day="+checkedRadio;
    }
    filt.forEach(btn=>{
  btn.addEventListener("click",()=>{
const day=btn.id.split("-")[1];
checkedRadio=day

showNewWords(myWordCloud,day);

  })
})
var myWordCloud = wordCloud('#wordCloud');

   
showNewWords(myWordCloud,day);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
